
services:
###> doctrine/doctrine-bundle ###
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    networks:
      - app-network
    volumes:
      - "./backend:/usr/share/nginx/html:rw"
      - "./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:rw"

  php-fpm:
    environment:
      APP_ENV: DevDocker
    build:
      dockerfile: backend/Dockerfile
      context: .
    ports:
      - "9000"
    networks:
      - app-network
    volumes:
      - "./backend:/usr/share/nginx/html:rw"

  database:
    image: mysql:${MYSQL_VERSION:-9}
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-!ChangeMe!}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
      start_period: 60s
    networks:
      - app-network
    volumes:
      - database_data:/var/lib/mysql:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###

networks:
  app-network:
    driver: bridge
