monolog:
    channels:
        - persistence # Добавил в контейнер сервисом отдельный логгер monolog.logger.persistence
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@DevHost: &monologDev
    services:
        # Регистрируя Процессор, который обогощает сообщение в логе дополнительными данными
        Monolog\Processor\IntrospectionProcessor:
            tags:
                # Здесь тэг означает, что он сервис является monolog processor'ом и будет он применен только для канала persistence
                # Также можно для хэндлеров определять точечно, вместо channel -> handler
                - { name: monolog.processor, channel: persistence }

    monolog:
        # Соответственно, формируется handler stack, последний из списка выполняется первее
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"] # означает, что для всех каналов, кроме event, этот хэндлер будет работать
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@DevDocker: *monologDev

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
